Footer {
    height: 10vh;
    width: auto;
    max-width: 85vh;
    flex: 0 0 auto;
    background-color: #1a181854;
    color: #ffffff; 
    border-radius: 0.25em;
    text-align: center;
    margin: 0 auto;
    border: 0;
} 