.ContextMenu {
    position: absolute;
    text-align: left;
}


.ContextMenu table tr:hover {
    background: #ffffff;
}

.Substrate {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(239, 245, 247, 0.103)
}

.ContextMenu table {
    position: relative;
    z-index: 9;
    background: #df4040;
}